.Filter {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.title {
  font-size: 16px;
  color: white;
  padding-bottom: 10px;
}

.content {
  max-height: 6em;
  overflow-y: scroll;
  width: 144px;
  overflow-x: hidden;
}

.content::-webkit-scrollbar {
  width: 0.4em;
  height: 100%;
  display: block;
}

.content::-webkit-scrollbar-thumb {
  background-color: #909090;
  display: block;
  border-radius: 0.25em;
}

.filter-item {
  padding: 0.1em 0.5em;
  cursor: pointer;
  color: white;
  font-size: 14px;
}

.state-s {
  color: #009845;
}

.state-a {
  color: #a6a6a6;
}

.state-x {
  color: #525252;
}
